<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrservice">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ListServicoActivity"></activity>
        <activity android:name=".activity.CadastrarServicosActivity" />
        <activity
            android:name=".activity.ServicosActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.ListProdutosActivity" />
        <activity
            android:name=".activity.ListClienteActivity"
            android:parentActivityName=".activity.ClientesActivity" />
        <activity
            android:name=".activity.CadastrarClientesActivity"
            android:parentActivityName=".activity.ClientesActivity" />
        <activity
            android:name=".activity.ClientesActivity"
            android:label="@string/title_activity_clientes"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ParceirosActivity"
            android:label="@string/title_activity_parceiros"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InfoProdutosActivity"
            android:parentActivityName=".activity.ProdutosActivity" />
        <activity android:name=".activity.DetalhesClienteActivity" />
        <activity
            android:name=".activity.CadastrarClientesSatisfeitosActivity"
            android:parentActivityName=".activity.ClientesSatisfeitosActivity" />
        <activity
            android:name=".activity.ClientesSatisfeitosActivity"
            android:label="@string/title_activity_clientes_satisfeitos"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetalhesTrabalhosFeitosActivity"
            android:parentActivityName=".activity.TrabalhosFeitosActivity" />
        <activity
            android:name=".activity.CadastrarTrabalhosFeitosActivity"
            android:parentActivityName=".activity.TrabalhosFeitosActivity" />
        <activity
            android:name=".activity.TrabalhosFeitosActivity"
            android:label="@string/title_activity_trabalhos_feitos"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.GaleryActivity" />
        <activity
            android:name=".activity.DetalhesProdutoActivity"
            android:parentActivityName=".activity.ProdutosActivity" />
        <activity
            android:name=".activity.CadastrarProdutoActivity"
            android:parentActivityName=".activity.ProdutosActivity" />
        <activity
            android:name=".activity.ProdutosActivity"
            android:label="@string/title_activity_produtos"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QuemSomosActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ConfiguracaoActivity" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>